
.navbar {
    display: flex;
    justify-content: center;
    margin: 2em;
}
.main-link {
    margin: 1em;
    color: rgb(138, 174, 190);
    text-decoration: none;
}
.main-link:hover {
    color: white;
}