@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Raleway&display=swap');


.intro-container {
    margin: 2em;
}
.intro {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
}
.intro-left {
    display: flex;
    flex-direction: column;
}
.intro-left-name {
    margin: 0;
    font-size: 2em;
}
.intro-left-title {
    margin: 0;
}
.intro-right {
    margin-right: 3em;
    font-size: 1.5em;
}
.summary {
    font-size: 1.5em;
    margin-top: 5em;
}
.about-heading {
    text-align: center;
    font-size: 2em;
}
.intro-image {
    border-radius: 50%;
    margin: 20px;
}
.about-elements {
    display: flex;
    justify-content: space-between;
}
.about-p-elem {
    margin: 2em;
}

