@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Raleway&display=swap');


.intro-container {
    margin: 2em;
}
.intro {
    display: flex;
    justify-content: center;
}
.intro-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 2em;
}
.intro-right-name {
    font-size: 2em;
    margin-bottom: 0;
}
.intro-right-title {
    font-size: 1em;
    margin-top: 0;
}
.summary {
    font-size: 1.5em;
    margin-top: 5em;
}
.about-heading {
    text-align: center;
    font-size: 2em;
}
.intro-image {
    border-radius: 50%;
    margin: 20px;
    border: 2px solid rgb(121, 146, 149);
}
.about-elements {
    display: flex;
    justify-content: space-between;
}
.about-p-elem {
    margin: 2em;
}
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }
    .intro-right {
        text-align: center;
    }
    .about-elements {
        flex-direction: column;
    }
}
@media (min-width: 1200px) {
    .intro {
        flex-direction: row;
    }
}

