@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Raleway&display=swap');


.intro-container {
    margin: 2em;
}
.intro {
    display: flex;
    flex-direction: column-reverse;
}
/* .intro-left {
    display: flex;
    flex-direction: column;
} */
/* .intro-left-name {
    margin: 0;
    font-size: 2em;
}
.intro-left-title {
    margin: 0;
} */
.summary {
    font-size: 1.5em;
    margin-top: 5em;
}
.about-heading {
    text-align: center;
    font-size: 2em;
}
.intro-image {
    border-radius: 50%;
    margin: 20px;
}
.about-elements {
    display: flex;
    justify-content: space-between;
}
.about-p-elem {
    margin: 2em;
}
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }
    .intro-left {
        text-align: center;
    }
    .about-elements {
        flex-direction: column;
    }
}
@media (min-width: 1200px) {
    .intro {
        flex-direction: row;
    }
}

