body {
    background-image: url("https://365psd.com/images/istock/previews/9387/93874765-tech-corporate-paper-grey-squares-background.jpg");
    background-size: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    color: rgb(88, 139, 162);
    background-color: black;
}
